.content-width {
  max-width: 1024px;
  margin: 0 auto;
}
.inline-block {
  display: inline-block!important;
}
.logo {
  margin-top: -12px;
  margin-bottom: -6px;
  margin-right: 6px;
  width: 42px;
  height: 42px;
}
.front-bgr {
  background: #378bba;
  background-size: cover;
}
.front-bgr .shadowed {
  text-shadow: 1px 1px 0 rgba(0,0,0,.2), -1px 2px 1px rgba(0,0,0,.2)
}
.light {
  color: white;
}
.floating-logo {
  text-align: center;
}
.floating-logo img {
  width: 190px;
  height: 190px;
  margin: 0 auto;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.code {
  text-shadow: none!important;
}
.code-holder {
  border-radius: 3px;
  font-size: 16px;
}
.dark-background {
  background-color: #2d3947
}
.text-center {
  text-align: center;
  line-height: 1.5em;
}
.text-left {
  text-align: left;
  line-height: 1.5em;
}
.icon-image {
  margin: 20px;
  font-size: 80px;
}
.margin-top {
  margin-top: 31px;
}
.b {
  font-weight: bold;
  margin-top: 3px;
  text-transform: uppercase;
}
.managed-code-block, .managed-code-block code {
  font-size: 40px;
  border: none;
  background: transparent!important;
}
.margin-bottom {
  margin-bottom: 30px;
}
.custom-tabs > li {
  display: inline-block!important;
  float: none;
}
code {
  margin-top: -20px;
}